#btn{
    font-size: 1.5rem;
    border:0;
}
.month{
    display: inline;
    margin: 0px 5px;
    margin-top: 15px;
    cursor: default;
}
.grid {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7,1fr); /*열(세로) 7개 생성*/
    grid-gap: 8px;
}
/* 그리드 각 블록을 div로 정의한다. */
.grid div {
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}
.date-board{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}
.date-board div{
    color: #222;
    font-weight: bold;
    width: 170px;
    height: 200px;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #717373;
}
#calendar{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.date-board > .day > #days{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.date-board > .day > .meal{
    margin: 1px;
    padding: 0;
    font-size: 12px;
}